# Set pressure advance per-filament for different nozzle sizes.
#
#   FILAMENT_SETUP BRAND=eSun FILAMENT={initial_filament_type} NOZZLE={nozzle_diameter[0]}
#   FILAMENT_SETUP BRAND=AIO FILAMENT=PLA NOZZLE=0.6
#
[gcode_macro FILAMENT_SETUP]
variable_default_pressure_advance: 0.0
gcode:
  # Retrieve the filament settings data.
  {% set filaments = printer["gcode_macro _get_filament_settings"].filaments %}
  #RESPOND PREFIX="FILAMENT_SETUP: " MSG="{filaments.materials['PLA'].brands['AIO'].nozzles['.6'].pressure_advance}"

  # Retrieve the passed filment parameters.
  {% set material = params.FILAMENT|default("PLA")|upper %}
  {% set brand = params.BRAND|default("Generic")|upper %}
  {% set nozzle = params.NOZZLE|default("0.6")|replace("0.",".") %}
  RESPOND PREFIX="FILAMENT_SETUP: " MSG="{brand} {material} {nozzle}"

  # Define the default values in case no match is made.
  {% set pressure_advance = default_pressure_advance %}

  # Store the settings which match the selected parameters.
  {% if filaments.materials[material] is defined %}
    {% set brand_data = filaments.materials[material].brands %}
    {% if brand_data[brand] is defined %}
      {% set nozzle_data = brand_data[brand].nozzles %}
      {% if nozzle_data[nozzle] is defined %}
        {% set pressure_advance = nozzle_data[nozzle].pressure_advance|default(default_pressure_advance) %}
      {% endif %}
    {% endif %}
  {% endif %}
  RESPOND PREFIX="FILAMENT_SETUP: " MSG="{pressure_advance}"

  SET_PRESSURE_ADVANCE ADVANCE={pressure_advance}
  #SET_PRESSURE_ADVANCE ADVANCE={pressure_advance} SMOOTH_TIME={smooth_time} ; Set pressure_advance settings
  #SET_GCODE_OFFSET Z=0 ; Set 
